@import "tailwindcss";

@theme {
  --color-primary: #f33f33;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 90%;
  margin: auto;
}

header .top-strip {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.link:hover {
  color: #f33f33;
}
