@import "tailwindcss";
@theme {
  --color-primary: #f33f33;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f1f1f1;
  color: rgba(0, 0, 0, 0.778);
}

.container {
  width: 95%;
  margin: auto;
}

header .top-strip {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.link:hover {
  color: #f33f33;
}

.MuiBadge-badge {
  background-color: #f33f33 !important;
}

nav ul button {
  text-transform: capitalize !important;
}

nav ul button .MuiTouchRipple-root {
  background-color: none !important;
}
