@import "tailwindcss";

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 90%;
  margin: auto;
}

header .top-strip {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@layer base {
  :root {
    --color-primary: #f33f33;
  }
}
